# Node modules & build
node_modules/
.next/
dist/
build/
out/
coverage/
.turbo/
.vercel/

# Environment files
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
